* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  border: none;
}

#header .headright .phone {
  font-weight: bold;
}

#footer ul li img {
  vertical-align: middle;
}

#warp {
  margin: 0 auto;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

#container {
  width: 1267px;
  height: auto;
  margin: 0 auto;
}

#header {
  border-bottom: 1px solid #CCCCCC;
  height: 29px;
  line-height: 29px;
}
#header .headleft {
  float: left;
  margin-left: 30px;
}
#header .headleft li {
  float: left;
  margin-right: 10px;
  font-size: 12px;
}
#header .headleft li a {
  color: #0066FF;
}
#header .headleft li a:hover {
  color: #AE0001;
}
#header .headright {
  float: right;
  margin-right: 34px;
}
#header .headright li {
  float: left;
  margin-right: 5px;
  font-size: 12px;
  color: #666666;
}
#header .headright li a {
  color: #666666;
}
#header .headright .myaccount {
  margin-right: 43px;
}
#header .headright .phone {
  margin-left: 27px;
}
#header .headright .internav {
  padding: 0 5px 0 5px;
  position: relative;
}
#header .headright .internav ul {
  position: absolute;
  padding-left: 5px;
  border: 1px solid #CDCDCD;
  border-top: 1px solid #fff;
  display: none;
  width: 62px;
  left: -1px;
  top: 29px;
  background: #fff;
}
#header .headright .internav ul li {
  height: 25px;
  line-height: 25px;
}
#header .headright .internav ul a {
  color: #666666;
}
#header .headright .internav ul a:hover {
  color: #B60000;
}

.internavBor {
  border-left: 1px solid #CDCDCD;
  border-right: 1px solid #CDCDCD;
}

#footer {
  height: 333px;
  background: url("../images/index/bottomBor.jpg") no-repeat top center;
  position: relative;
}
#footer ul {
  float: left;
  border-left: 1px solid #DDDDDD;
  padding-left: 10px;
  margin-top: 72px;
  width: 138px;
  font-size: 12px;
}
#footer ul li {
  height: 20px;
  line-height: 20px;
  color: #999999;
}
#footer ul li img {
  margin-left: 5px;
}
#footer ul .guide {
  height: 30px;
  line-height: 30px;
  color: #000;
}
#footer .hotline {
  padding: 20px 0 0 20px;
  margin-left: 175px;
  border-left: 0 solid #fff;
  width: 250px;
  height: 133px;
}
#footer .hotline li {
  height: 25px;
  line-height: 25px;
}
#footer .hotline dt, #footer .hotline dd {
  float: left;
}
#footer .hotline dt img, #footer .hotline dd img {
  padding: 0 24px 0 12px;
}
#footer .hotline span {
  font-size: 18px;
}
#footer .hotline dd {
  height: 25px;
  line-height: 25px;
  width: 140px;
  text-align: right;
}
#footer .hotline dd span {
  font-size: 12px;
  color: #FF6600;
}
#footer p {
  margin-left: 150px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  color: #999999;
}
#footer p a {
  padding: 0 5px 0 5px;
  color: #666666;
}
#footer .incom {
  position: absolute;
  right: 140px;
  bottom: 15px;
}

#warp {
  width: 1000px;
  height: 80px;
}

.tagger {
  float: left;
}

dl {
  margin-top: 20px;
  float: right;
  width: 310px;
}
dl dt, dl dd {
  float: left;
}
dl dt img {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
dl dd {
  font-size: 12px;
  font-weight: 600;
  color: #AAAAAA;
  height: 20px;
  line-height: 20px;
  letter-spacing: 2px;
}

#loginMain {
  height: 449px;
  background: url("../images/login/1.jpg") no-repeat center 0;
}

.login_mode {
  float: right;
  margin: 20px 130px;
  padding: 20px;
  width: 352px;
  height: 369px;
  background: #fff;
  border-radius: 5px;
}

.tab_nav {
  height: 40px;
  line-height: 40px;
  width: 352px;
}
.tab_nav li {
  float: left;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  font-weight: normal;
  color: #909090;
  border-bottom: 2px solid #909090;
  text-align: center;
  width: 176px;
}
.tab_nav .active {
  border-bottom: 2px solid #E75A5D;
  color: #E75A5D;
}

/*# sourceMappingURL=login.css.map */
