#top{
  height: 100px;
  .logo{
    @include setMargin(left,45px);
    @include setfloat(left);
  }
  .search{
    width: 430px;
    height: 30px;
    @include setBorder(5px,#E9E9E9);
    @include setfloat(left);
    @include setMarginF(22px,0px,0px,46px);
    input{
      @include setfloat(left);
    }
    .txt{
      width: 348px;
      height: 28px;
      @include setBorder(1px,#AE0001);
    }
    .btn{
      width: 80px;
      height: 30px;
      background:#C7012C;
      @include setBorder(0,#AE0001);
      @include setFont(14px,bold,#fff);
    }
  }
  .redpacket{
    @include setMargin(right,35px);
    @include setfloat(right);
  }
}

#nav{
  @include setHeight(40px);
  @extend %marginAuto;
  width:1200px;
  background: #C7012C;
  border-radius: 5px 0;
  clear: both;
  position: relative;
  .category{
    @include setFont(16px,normal,#fff);
    @include setPadding(left,25px);
    @include setfloat(left);
    @include setHeight(40px);
    position: relative;
    width: 185px;
    cursor: pointer;
    span{
      position: absolute;
      display: inline-block;
      width: 16px;
      height: 16px;
      overflow: hidden;
      background: $span;
      top: 12px;
      right: 15px;
    }
  }
  .mainnav{
    width: 558px;
    height: 40px;
    @include setfloat(left);
    a{
      @include setBorderdir(left,1px,#fff);
      @include setPadding(left,10px);
      @include link-colors(#fff,#F6B12E);
      color: $colorWhite;
      line-height: 30px;
      position: relative;
      img{
        position: absolute;
        top: -18px;
        right: -5px;
      }
    }
    .zhen{
      @extend %fontWight;
      @include setPadding(top,4px);
      @include setPadding(left,25px);
      @include link-colors(#ff0,#ff0);
      top: -4px;
      display: inline-block;
      width: 90px;
      height: 40px;
      background:$zhen;

      border: none;
    }
    .zhen:hover{
      background: url("../images/detail/menu_bg2.PNG") no-repeat;
    }
  }
  .shopcar{
    width: 196px;
    @include setHeight(27px);
    @include setfloat(right);
    @include setMargin(right,11px);
    li{
      @include setMargin(top,6px);
      @include setfloat(left);
      font-size: $middleSize;
    }
    .count{
      @include seteveRadius(5px,0,0,5px);
      width: 134px;
      @include setHeight(27px);
      text-align: center;
      background:#FFEEDE url("../images/index/shopcar.jpg") no-repeat left 13px center;
      a{
        color: $color;
        span{
          @extend %fontWight;
          color: #C8012C;
        }
      }
    }
    .account{
      @include seteveRadius(0,5px,5px,0);
      @include setHeight(27px);
      @include setPadding(left,5px);
      width: 57px;
      background: #ffbc22;
      a{
        color:$colorWhite;
      }
    }
  }
  .notice{
    position: absolute;
    top:50px;
    right: 15px;
    z-index: 10;
    width: 228px;
    height: 480px;
    h3{
      @include setBorderdir(bottom,1px,#E0E0E0);
      @include setHeight(39px);
      background: #fff;
      color: $colorPink;
      text-align: center;
      img{
        @extend %img;
      }
    }
    .list,.mocailist{
      @include setPaddingTol(20px);
      background: $noticebg;
      height: 120px;
      li{
        font-size: $normalSize;
        @include setHeight(20px);
        a{
          color: $color;
        }
      }
    }
    .imgnotice{
      display: inline-block;
      height: 220px;
      float: left;
    }
    .mocailist{
      @include setPaddingF(10px,20px,10px,20px);
      height: 40px;
      clear: both;
    }
  }
  .allList{
    width: 190px;
    background: #000;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 50px;
    li{
      @include setHeight(34px);
      @include setFont(14px,bold,#fff);
      @include link-bgcolors(#D92020);
      @include setPadding(left,35px);
      @include setPos(relative);
      cursor: pointer;
      img{
        vertical-align: text-top;
      }
      span{
        @include setMargin(left,10px);
      }
    }
  }
}

#detailMain{
  margin-top: 10px;
  @extend %marginAuto;
  @include setHeight(30px);
  @include setFont(12px,normal,#999999);
  @include setBorderdir(bottom,1px,#DDDDDD);
  @include setPadding(left,10px);
  width: 1190px;
  height: auto;
  .qg{
    color: #666666;
  }
  .mainShow{
    width: 1190px;
    height: 423px;
    .preview{
      @include setfloat(left);
      width: 302px;
      height: 418px;
    }
    .summary{
      @include setfloat(right);
      width: 870px;
      height: 419px;
    }
  }
}
.preview_big{
  @include setPaddingTol(10px);
  @include setBorder(1px,#CCCCCC);
  width: 280px;
  height: 280px;
  position: relative;
  .glass{
    @include setBorder(1px,#FF9900);
    display: none;
    width: 80px;
    height: 80px;
    position: absolute;
    top:10px;
    left:10px;
    background-color:#fff;
    opacity:0.5;
    filter:alpha(opacity=50);
    z-index:2;
  }
}
.bigImg{
  @include setBorder(1px,#FF9900);
  display: none;
  width: 280px;
  height: 280px;
  overflow: hidden;
  position: absolute;
  top:10px;
  left: 312px;
  z-index: 2;
  img{
    position: absolute;
    top: 0;
    left: 0;
    width: 680px;
    height: 680px;
  }
}
.preview_small{
  height: 69px;
  @include setMargin(top,5px);
  .btn_left,.btn_right{
    @include setMarginTwo(25px,0);
    overflow: hidden;
    width: 10px;
    height: 14px;
  }
  .content{
    @include setfloat(left);
    width: 280px;
    height: 66px;
    overflow: hidden;
    position: relative;
    ul{
      position: absolute;
      left: 0;
      top: 0;
      width: 280px;
      overflow: hidden;
    }
    li{
      @include setBorder(1px,#EAEAEA);
      @include setfloat(left);
      @include setPaddingTol(2px);
      @include setMargin(left,5px);
      width: 60px;
      height: 60px;
    }
    .active{
      @include setBorder(1px,red);
    }
  }
  .btn_left{
    @include setfloat(left);
    background: url("../images/detail/vi_bg.png") no-repeat -80px 0;
  }
  .btn_right{
    @include setfloat(right);
    background: url("../images/detail/vi_bg.png") no-repeat -99px 0;
  }
}

.preview_more{
  @include setHeight(27px);
  @include setMargin(top,10px);
  .more{
    @include setfloat(left);
    color:#3366CC;
  }
  .share{
    @include setfloat(right);
    .weibo,.renren,.pgy,.xx{
      background: url(../images/detail/ui_enjoy.jpg) no-repeat 0 0;
      display: inline-block;
      width: 16px;
      height: 16px;
      vertical-align: middle;
    }
    .renren{
      background-position: 0 -16px;
    }
    .pgy{
      background-position: 0 -32px;
    }
    .xx{
      background-position: 0 -48px;
    }
  }
}

.summary_title{
  p{
    @include setFont(18px,bold,#000);
    @include setPadding(left,10px);
    border-bottom: 1px dotted #ccc;
    height: 32px;
    span{
      font-weight: normal;
    }
  }
}
.summary_price{
  @include setPadding(left,10px);
  @include setPadding(top,10px);
  position: relative;
  height: 95px;
  border-bottom: 1px dotted #ccc;
  .price_cankao{
    @include setHeight(26px);
    del{
      font-weight: bold;
    }
  }
  .price_limit{
    .qianggou{
      span{
        display: inline-block;
        @include setHeight(18px);
        width: 64px;
        background: #c7012c;
        color: #fff;
      }
      strong{
        @include setFont(26px,bold,#c7012c);
        letter-spacing: 2px;
        b{
          @include setMarginTwo(0,2px);
          font-size: 16px;
        }
      }
    }
  }
  .time{
    @include setHeight(25px);
    em{
      color: #FF0000;
      font-weight: normal;
    }
  }
  .pro_num{
    position: absolute;
    right: 0;
    top: 10px;
    color: #999;
  }
}
.summary_stock{
  @include setPadding(left,10px);
  @include setPadding(top,10px);
  @include setHeight(30px);
}
.lbl,.stock{
  @include setfloat(left);
}
.stock{
  @include setBorder(1px,#DDDDDD);
  @include setPos(relative);
  width: 66px;
  height: 28px;
  .stock_selected{
    @include setHeight(28px);
    @include setMargin(left,10px);
  }
  .icon{
    position: absolute;
    width: 11px;
    height: 11px;
    overflow: hidden;
    top: 8px;
    right: 8px;
    background: url(../images/detail/vi_bg.png) no-repeat -120px 0;
  }
}
.stock_mc{
  @include setPaddingTol(10px);
  @include setPos(absolute);
  background: #fff;
  z-index: 1;
  display: none;
  border: 1px solid #7B470E;
  width: 320px;
  height: 210px;
  dt,dd{
    border-bottom: 1px dotted #ddd;
  }
  dd{
    span{
      @include setPadding(left,15px);
      cursor: pointer;
    }
  }
}
.close{
  position: absolute;
  top: 7px;
  right: 7px;
  float: right;
  width: 15px;
  height: 15px;
  overflow: hidden;
  padding: 0;
  background: url(../images/detail/bg.png) -965px -747px no-repeat;
  text-indent: -999em;
  cursor: pointer;
}
.serve{
  @include setHeight(28px);
  @include setPadding(left,10px);
  @include setMargin(top,5px);
  span{
    @include setMarginTwo(0px,3px);
    color: #C7012C;
  }
}

#detailMain{
  .serve,.pro_comment{
    a{
      color: #3366CC;
    }
  }
}

.serve_intro{
  @include setHeight(28px);
  @include setPadding(left,10px);
  @include setMargin(top,5px);
  span{
    @include setMarginTwo(0,5px);
    color: #C7012C;
  }
}
.pro_comment{
  @include setHeight(30px);
  @include setPadding(left,10px);
  @include setMargin(top,5px);
  span,div,a{
    @include setfloat(left);
  }
  .star{
    @include setMargin(top,7px);
    vertical-align: middle;
    width: 85px;
    height: 16px;
    overflow: hidden;
    background: url(../images/detail/ui_psorce.png) no-repeat 0 -17px;
  }
}
.choose{
  @include setPaddingTol(15px);
  @include setBorder(1px,#EEEEEE);
  background: #F8F8F8;
  width: 840px;
  height: 100px;
  border-radius: 5px;
}
.choose_amount{
  @include setHeight(25px);
  button{
    width: 20px;
    height: 20px;
  }
  input{
    width: 52px;
    height: 16px;
    text-align: center;
  }
}
.choose_btn{
  @include setHeight(50px);
  @include setMargin(top,20px);
  .button,.addCart{
    @include setFont(20px,500,#fff);
    width: 150px;
    height: 45px;
    border: none;
    border-radius: 5px;
  }
  .button{
    background: #C81B1B url(../images/detail/vi_showmain_bg32.png) no-repeat 0 0;
  }
  .addCart{
    @include setPadding(left,30px);
    background: #C81B1B url(../images/detail/vi_showmain_bg32.png) no-repeat 0 -100px;
  }
  a{
    @include setMargin(left,15px);
    i{
      @include setHeight(17px);
      width: 17px;
      display: inline-block;
      background: url(../images/detail/vi_bg.png) no-repeat -100px -40px;
      vertical-align: middle;
    }
    display: inline-block;
  }
}
.argument{
  width: 1190px;
  height: auto;
  overflow: hidden;
}
.colsub{
  @include setfloat(left);
  width: 230px;
  height: 327px;
}

.xunbaoSort{
  @include setPaddingTol(5px);
  background: #F1F1F1;
  height: 53px;
  .sort{
    @include setBorderStyle(1px,solid,#DEDEDE);
    @include setPadding(top,10px);
    @include setPadding(left,15px);
    @include setFont(16px,bold,#C7012C);
    width: 203px;
    background: #fff;
    height: 40px;
    border-radius: 5px;
  }
}
.relevant{
  @include setPaddingTol(5px);
  @include setMargin(top,5px);
  background: #F1F1F1;
  height: 73px;
  .rele{
    @include setBorderStyle(1px,solid,#DEDEDE);
    @include setFont(16px,bold,#C7012C);
    width: 218px;
    background: #fff;
    height: 70px;
    border-radius: 5px;
    h4{
      @include setHeight(40px);
      @include setPadding(left,15px);
      @include setBorderdir(bottom,4px,#C7120C);
      @include setMargin(top,10px);
    }
  }
}
.scan{
  @include setPaddingTol(5px);
  @include setMargin(top,5px);
  background: #F1F1F1;
  height: auto;
  .scanMain{
    @include setBorderStyle(1px,solid,#DEDEDE);
    width: 218px;
    background: #fff;
    height: auto;
    border-radius: 5px;
    h4{
      @include setHeight(40px);
      @include setPadding(left,15px);
      @include setPadding(right,5px);
      @include setBorderdir(bottom,4px,#C7120C);
      @include setFont(16px,bold,#C7012C);
      a{
        font-weight: normal;
        @include setfloat(right);
        @include setFont(12px,bold,#999999);
      }
    }
    dl{
      @include setMarginTwo(10px,10px);
      overflow: hidden;
      dt,dd{
        @include setfloat(left);
      }
      dt{
        @include setBorder(1px,#DDDDDD);
        width: 77px;
        height: 77px;
      }
      dd{
        @include setMargin(left,10px);
        @include setHeight(20px);
        width: 105px;
      }
      .scanPrice{
        @include setHeight(30px);
        @include setFont(16px,bold,#C7012C);
      }
    }
  }
}
.colmain{
  @include setfloat(right);
  width: 940px;
  height: auto;
}
.tab_triggers{
  @include setHeight(40px);
  @include setBorderdir(bottom,3px,#C7012C);
  li{
    @include setfloat(left);
    @include setHeight(39px);
    @include setBorder(1px,#ccc);
    @include setFont(14px,normal,#666666);
    border-bottom: none;
    margin-right: -1px;
    background: #F6F6F6;
    width: 100px;
    text-align: center;
    cursor: pointer;
  }
  .current{
    background: #C7012C;
    color: #fff;
  }
}
.proIntroduction{
  img{
    @include setMarginTwo(20px,100px);
  }
}
.proIntro_abs{
  @include setPadding(top,10px);
  @include setPadding(bottom,10px);
  border-bottom: 1px dotted #ccc;
  td{
    @include setHeight(21px);
    width: 360px;
    a{
      color: #0066FF;
    }
  }
  .lbl{
    width: 120px;
    text-align: right;
  }
}


.norms{
  display: none;
  @include setMargin(top,10px);
  table{
    border-collapse: collapse;
    border-spacing: 0;
  }
  td{
    border: 1px solid #DBDBDB;
    color: #333333;
  }
  .tit,.smalltit{
    width:120px;
    text-align: center;
  }
  .bigtit{
    @include setPadding(left,15px);
    width: 710px;
  }
  .tit{
    background:$tabbg ;
  }
  .smalltit{
    background:$tabbg2;
  }
}

.pack{
  display: none;
  .name{
    @include setMarginTwo(10px,0);
    @include setHeight(34px);
    @include setPadding(left,15px);
    color: #666666;
  }
  .statement{
    @include setBorder(1px,#FFE9C4);
    @include setPadding(left,15px);
    @include setHeight(40px);
    border-radius: 5px;
    color: #FF9927;
    b{
      color: #FF9900;
    }
  }
}
.afterSale{
  display: none;
  @include setMarginTwo(10px,0);
  @include setPadding(left,15px);
  color: #666666;
  p{
    @include setHeight(25px);
  }
}