*{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  border: none;
}

%fontWight{
  font-weight: bold;
}

%img{
  vertical-align: middle;
}


%marginAuto{
  margin: 0 auto;
}