$normalSize:12px;

$middleSize:14px;

$bigSize:18px;

$color:#666666;

$colorGray:#999999;

$colorRed:#E75A5D;

$logbtnbg:#E75A5D;

$colorWhite:#fff;

$span:url("../images/index/sl_header_v2.png") no-repeat 0 0;

$zhen:url("../images/index/menu_bg.PNG") no-repeat;

$colorPink:#C7012C;

$noticebg:#F1F6F2;

$mainbg:#E4E4E4;

$commbg:#fff;

$morebg:#f45f4b;

$regtitlecolor:#EA5A5D;

$tabbg:#E7E7E7;

$tabbg2:#F7F7F7;